*{
box-sizing: border-box;
}

body{
    background-image: url(../images/back-landscape.jpeg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 3.5rem;
    font-weight: normal;
    margin-top: 5rem;
}

.countdown-container{
    display: flex;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}
.big-text{
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;
}